<%- include includes/header %>

<div class="container py-5">
    <div class="row g-5">
        <div class="col-12 col-md-5">

            <div id='calendar'></div>
        </div>
        <div class="col-12 col-md-7">

            <div class="d-flex flex-column gap-3 lista-reservas">
                <!-- Comando de loop inicio (a colocar) -->
                <div class="row gx-5 reservar-local mx-md-1">
                    <div class="col-12 col-md-4 d-flex align-items-center"><img width="180" height="50" src="<%= Logotipo %>" class="imagem-local" title="Exemplo" alt="Exemplo"></div>
                    <div class="col-12 col-md-8">
                        <p class="h1">Exemplo 1</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam accusamus unde repellat. Vel, ipsum commodi. Voluptatibus eum tenetur tempora beatae? Nostrum provident molestiae, consequatur debitis eos accusamus et perspiciatis.</p>
                        <p class="mb-0">Horários disponíveis</p>
                        <form method="post" action="#" id="id_espaco">

                            <!-- Inicia loop horarios (A Fazer) -->
                            
                            <!-- <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked> -->
                            <!-- <label class="btn btn-outline-primary" for="option1">12:00</label> -->
                            
                            <!-- Encerra loop horarios (A Fazer) -->
                            
                            <!-- Exemplos -->
                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="option1">12:00</label>

                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option2">15:00</label>

                            <input type="radio" class="btn-check" name="options" id="option3" title="Esgotado" autocomplete="off" disabled>
                            <label class="btn btn-outline-secondary" for="option3">18:00</label>

                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option4">20:00</label>

                            
                        </form>
                    </div>
                </div>
                <div class="row gx-5 reservar-local mx-md-1">
                    <div class="col-12 col-md-4 d-flex align-items-center"><img width="180" height="50" src="<%= Logotipo %>" class="imagem-local" title="Exemplo" alt="Exemplo"></div>
                    <div class="col-12 col-md-8">
                        <p class="h1">Exemplo 2</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam accusamus unde repellat. Vel, ipsum commodi. Voluptatibus eum tenetur tempora beatae? Nostrum provident molestiae, consequatur debitis eos accusamus et perspiciatis.</p>
                        <p class="mb-0">Horários disponíveis</p>
                        <form method="post" action="#" id="id_espaco">

                            <!-- Inicia loop horarios (A Fazer) -->
                            
                            <!-- <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked> -->
                            <!-- <label class="btn btn-outline-primary" for="option1">12:00</label> -->
                            
                            <!-- Encerra loop horarios (A Fazer) -->
                            
                            <!-- Exemplos -->
                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="option1">12:00</label>

                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option2">15:00</label>

                            <input type="radio" class="btn-check" name="options" id="option3" title="Esgotado" autocomplete="off" disabled>
                            <label class="btn btn-outline-secondary" for="option3">18:00</label>

                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option4">20:00</label>

                            
                        </form>
                    </div>
                </div>
                <div class="row gx-5 reservar-local mx-md-1">
                    <div class="col-12 col-md-4 d-flex align-items-center"><img width="180" height="50" src="<%= Logotipo %>" class="imagem-local" title="Exemplo" alt="Exemplo"></div>
                    <div class="col-12 col-md-8">
                        <p class="h1">Exemplo 3</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam accusamus unde repellat. Vel, ipsum commodi. Voluptatibus eum tenetur tempora beatae? Nostrum provident molestiae, consequatur debitis eos accusamus et perspiciatis.</p>
                        <p class="mb-0">Horários disponíveis</p>
                        <form method="post" action="#" id="id_espaco">

                            <!-- Inicia loop horarios (A Fazer) -->
                            
                            <!-- <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked> -->
                            <!-- <label class="btn btn-outline-primary" for="option1">12:00</label> -->
                            
                            <!-- Encerra loop horarios (A Fazer) -->
                            
                            <!-- Exemplos -->
                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="option1">12:00</label>

                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option2">15:00</label>

                            <input type="radio" class="btn-check" name="options" id="option3" title="Esgotado" autocomplete="off" disabled>
                            <label class="btn btn-outline-secondary" for="option3">18:00</label>

                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option4">20:00</label>

                            
                        </form>
                    </div>
                </div>

                <!-- Comando de loop fim (a colocar) -->
            </div>
            <p class="text-start mt-4 mx-1"><a href="#" class="btn btn-primary">Confirmar Reservas</a></p>

        </div>
    </div>
</div>

<%- include includes/footer %>